ultralytics
transformers==4.51.2
torch
opencv-python
accelerate
einops
timm
groundingdino-py
sqlalchemy
psycopg2
pandas
matplotlib
numpy
seaborn
tqdm
scikit-learn
pycocotools
open-clip-torch
matplotlib
scikit-image